@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  :root {
    --color-primary-0: 255 255 255;
    --color-primary-100: 247 247 247;
    --color-primary-200: 240 240 240;
    --color-primary-300: 207 208 208;
    --color-primary-400: 160 160 162;
    --color-primary-700: 50 50 50;
    --color-primary-800: 26 26 26;
    --color-primary-900: 20 20 20;
    --color-warning-100: 254 214 140;
    --color-warning-900: 242 197 113;
    --color-error-100: 234 98 98;
    --color-error-900: 213 59 59;
    --color-success-100: 7 208 179;
    --color-success-900: 10 181 157;
  }
}

@layer components {
  .default-button {
    @apply bg-gradient-to-r from-primary-700 to-primary-800 hover:from-btn-hover hover:to-btn-hover-1 active:from-btn-active active:to-btn-active-1;
  }

  .destructive-button {
    @apply bg-gradient-to-r from-error-100 to-error-900;
  }

  .success-button {
    @apply bg-gradient-to-r from-success-100 to-success-900;
  }

  .neutral-button {
    @apply bg-gradient-to-r from-warning-100 to-warning-900;
  }

  .outline-button {
    @apply border-btn-outline-default hover:border-primary-800 active:border-btn-outline-active;
  }
}
